:root {
    font-size: 16px;

    --light-accent: #7B8FB2;
    --primary-color: #5CBDF3;
    --dark-accent: #4E5B8A;
    --text-color-light: #F3F5F2;
    --dark-contrast:  #25386C;
    --full-dark-contrast: #111111;
}

body {
    margin: 0;
}

#top {
    scroll-behavior: smooth;
}

header {
    background-color: var(--full-dark-contrast);
    color: var(--text-color-light);
    position: fixed;
    width: 100%;
    height: 8vh;
    top: 0;
}

h1 {
    margin: auto;
    font-size: 2.5rem;
    font-family: 'Bebas Neue';
    height: 100%;
    display: flex;
    float: left;
    align-items: center;
    padding: 0 2vw;
}

.nav-button {
    display: flex;
    float: left;
    height: 100%;
}

.nav-button:hover {
    background-color: var(--dark-accent);
}

.nav-button a {
    padding: 0 1vw;
    display: flex;
    margin: auto;
    height: 100%;
    align-items: center;
    text-decoration: none;
}

.nav-button a:visited {
    color: var(--text-color-light);
}

.nav-button a:hover {
    color: var(--text-color-light);
}

.jumbotron {
    background-color: var(--text-color-light);
    color: var(--dark-contrast);
    width: 100%;
    height: 57vh;
    margin-top: 8vh;
}

.jumbotron img {
    width: 100%;
    height: 100%;
}

.feature-cards {
    background-color: var(--dark-contrast);
    width: 100%;
    height: 35vh;
}

.cards {

}

.quote-section {
    background-color: var(--light-accent);
    width: 100%;
    height: 25vh;
}

.about-section {
    background-color: var(--text-color-light);
    width: 100%;
    height: 64vh;
}

footer {
    width: 100%;
    height: 3vh;
}

.creator {
    background-color: var(--dark-accent);
    color: var(--text-color-light);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}